.playlistItem{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    background-color: white;
    border-radius: 15px;
    padding: 15px 13px;
    font-size: 14px;
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 150px;
        border-radius: 15px;
        background-color: #D9D9D9;
        img{
            width: 100%;
        }
    }
    .user{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .userInfo{
            display: flex;
            flex-direction: column;
            grid-gap: 12px;
            .username{
                font-size: 13px;
                color: #363636;
            }
        }
        .heart{
            margin-top: auto;
            font-size: 24px;
        }
    }
}

@media (max-width: 700px) {
    .playlistItem{
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 10px 20px 10px 10px;
        .user{
            justify-content: space-between;
            width: 100%;
            align-items: center;
            font-size: 13px;
            .userInfo{
                grid-gap: 7px;
                .username{
                    font-size: 11px;
                }
            }
            .heart{
                margin: unset;
            }
        }
        .img{
            width: 60px;
            height: 50px;
            img{
                height: auto;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}
  