.playlists{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    padding: 20px 0;
    h1{
        font-size: 19px;
    }
    .playlistsContent{
        display: flex;
        grid-gap: 1vw;
        grid-row-gap: 1.5vw;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;  

    }
}