.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5vw 0;
    .formDiv{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding: 30px;
        border-radius: 15px;
        h1{
            font-size: 30px;
            align-self: flex-start;
        }
        .icon{
            font-size: 140px;
            color: #9b9b9b;
            width: 35%;
        }
        form{
            display: flex;
            flex-direction: column;
            grid-gap: 20px;
            width: 65%;
            .input{
                display: flex;
                flex-direction: column;
                grid-gap: 10px;
                width: 100%;
                font-size: 16px;
                input{
                    width: 100%;
                    background-color: #d9d9d9;
                    border-radius: 15px;
                    padding: 8px;
                    font-size: 18px;
                }
            }
            .terms{
                display: flex;
                justify-content:left;
                align-items: center;
                grid-gap: 10px;
                font-size: 11px;
                margin: -10px 0 0 0;
                .blue{
                    color: blue;
                }
            }
            .formBtn{
                background-color: #FF9800;
                color: white;
                border-radius: 15px;
                font-weight: bold;
                padding: 10px 20px;
                align-self: flex-end;
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .registration{
        .formDiv{
            width: 90%;
            grid-gap: 50px;
            .icon{
                display: none;
            }
            form{
                width: 100%;
            }
        }
    }
}