.header{
    grid-column: 1/4;
    grid-row: 1/2;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #5B8EA8;
        padding: 2px 50px;
        grid-gap: 5px;
        font-size: 13px;
        font-weight: bold;
    }
    .mainHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 50px;
        background-color: #5B8EA8;
        .logo{
            cursor: pointer;
            height: 70px;
        }
        .search{
            input, button{
                padding: 7px;
            }
            input{
                width: 200px;
                max-width: 50vw;
            }
            .searchBtn{
                background-color: #FF9800;
                color: white;
            }
        }
    }
    .abc {
        padding: 1.2vw 180px;
        text-align: center;
      .letters{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-around;
        grid-gap: 0.5vw;
        overflow-y: auto;
        .letter {
          cursor: pointer;
          min-width: 28px;
          min-height: 25px;
          line-height: 25px;
          text-align: center;
          background-color: #5B8EA8;
          color: white;
          border-radius: 5px;
        }
      }
    }
    
}

@media (max-width: 1000px) {
    .header{
        .abc{
            padding-left: 0;
            padding-right: 0;
            display: flex;
            justify-content: center;
            align-content: center;
            .letters{
                justify-content: unset;
                width: auto;
            }
        }
    }
}

@media (max-width: 700px) {
    /* Styles for mobile devices */
    .header{
        .mainHeader{
            flex-direction: column;
            grid-gap: 10px;
            .search{
                input, button{
                    padding: 7px;
                }
            }
        }
    }
}