.sidebar{
    width: 180px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 20px;
    overflow-y: auto;
    z-index: 5;
    .userIcon{
        padding-right: 3px;
    }
    .navlink{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-gap: 10px;
        background-color: #F1F1F1;
        z-index: 6;
        &:hover{
            opacity: 0.7;
        }
        .usernameCarpet{
            display: flex;
            grid-gap: 10px;
            justify-content: center;
            align-items: center;
        }
    }
    .dropdown{
        position: absolute;
        background-color: rgb(233, 233, 233);
        padding: 10px;
        z-index: 1;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        border-radius: 5px;
        .openUserlink{
            padding: 3px;
            border-bottom: 1px solid gray;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
@media (max-width: 700px) {
    .sidebar{
        min-width: none;
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        .navlink{
            flex-direction: column;
            grid-gap: 2px;
            align-items: center;
            text-align: center;
            .usernameCarpet{
                svg{
                    display: none;
                }
            }
        }
        .dropdown{
            margin-left: -50px;
        }
        
    }
}