.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .main {
      flex-grow: 1;
      display: flex;
    }
  
    .mainContent {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;     
    }
  }
  
  @media (max-width: 700px) {
    .app {
      .main {
        flex-direction: column;
      }
      .mainContent {
        justify-content: center;
        align-items: center;
      }
    }
  }
  